* {
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}


.wan nav ul {
    display: flex;

}

.wan nav ul li {
    list-style: none;
    justify-content: space-between;
    margin: 10px;
}

.wan nav ul li a p {
    color: rgb(38, 150, 219);
    font-size: 20px;


}


.wan nav ul li a {
    text-decoration: none;
    color: rgb(26, 185, 228);
}

header .wan nav ul {
    list-style: none;
    padding: 0;
    margin-right: 10px;
    display: flex;
    margin-top: 25%;
    justify-content: end;
    font-size: 30px;

}

header .logo {
    color: lightgreen;
    margin: 10px;
}

header {
    justify-content: space-between;
    display: flex;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    height: 100px;
    padding: 20px 10%;
}

.icon1 {
    background-color: #2ec6de;
    color: black;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.number p {

    font-size: 15px;
    background-color: #01438a;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 60%;

}



.icon2 {
    background-color: #2ec6de;
    color: black;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

}

.icon3 {
    background-color: #2ec6de;
    color: black;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;


}



header .won nav {
    justify-content: end;
}

header .won nav ul li {
    margin: 0 15px;
}


.sidebar {
    width: 250px;
    margin-top: 10%;
    height: 100%;
    background-color: #333;
    padding: 10px;
    color: white;
    position: fixed;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 25px;
    text-align: left;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #444;
    padding: 20px;
}