* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}


nav ul {
	display: flex;

}

nav ul li {
	list-style: none;
	justify-content: space-between;
	margin: 10px;
}

nav ul li p {
	color: white;
}

nav ul li a {
	text-decoration: none;
	color: aqua;
}

header nav ul {
	list-style: none;
	padding: 0;
	margin-right: 10px;
	display: flex;
	margin-top: 25%;
	justify-content: end;

}

header .logo {
	color: lightgreen;
	margin: 10px;

}

header {
	background-color: #333;
	display: flex;
	justify-content: space-between;
	margin: 10px;

}

header nav {
	justify-content: end;
}

header nav ul li {
	margin: 0 15px;
}

.products {
	background-color: hsl(185, 100%, 86%);
	margin: 10px;
}

.products .cards {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;

}

.products .cards .product1 {
	flex: 1 1 calc(33.33%, 20px);
	box-sizing: border-box;
	padding: 20px;
	background-color: #000000;
	border-radius: 10px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}


.slider-container {
	position: relative;
	width: 500px;
	overflow: hidden;
	height: 300px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.image-container {
	display: flex;
	transition: transform 0.4s ease-in-out;
}

.btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	font-size: 20px;
	opacity: 0.5;
	cursor: pointer;
}

.btn.prev {
	left: 10px;
}

.btn.next {
	right: 10px;
}

.btn:hover {
	opacity: 1;
}

.products {
	background-color: hsl(185, 100%, 86%);
	margin: 10px;
}

.products .cards {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;

}

.products .cards .product1 {
	flex: 1 1 calc(33.33%, 20px);
	box-sizing: border-box;
	padding: 20px;
	background-color: #000000;
	border-radius: 10px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

.hero .image {
	height: 50px;

}

.controls {
	position: absolute;
	top: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	transform: translateY(-50%);
}

.controls button {
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
}

.controls button:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

main {
	padding: 2em;
	text-align: center;
}


footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 1em 0;
	margin-top: 2em;
}

#back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px 20px;
	background-color: #3498db;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: none;
}

#back-to-top:hover {
	background-color: #2980b9;
}