* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
}


nav ul {
	display: flex;

}

nav ul li {
	list-style: none;
	justify-content: space-between;
	margin: 10px;
}

nav ul li p {
	color: white;
}

nav ul li a {
	text-decoration: none;
	color: aqua;
}

header nav ul {
	list-style: none;
	padding: 0;
	margin-right: 10px;
	display: flex;
	margin-top: 25%;
	justify-content: end;

}

header .logo {
	color: lightgreen;
	margin: 10px;

}

header {
	justify-content: space-between;
	display: flex;
	background-color: #333;
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	align-items: center;
	height: 75px;
	padding: 20px 10%;
}

header nav {
	justify-content: end;
}

header nav ul li {
	margin: 0 15px;
}




.products .cards {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	justify-content: space-between;

}




.products {
	background-color: hsl(185, 100%, 86%);
	height: 350px;
	margin-top: 550px;
	width: 100%;

}

.products .cards {
	display: flex;
	flex-wrap: wrap;
	gap: 70px;
	justify-content: space-between;

}



.products .cards .product1 {
	flex: 1 1 calc(33.33%, 20px);
	box-sizing: border-box;
	padding: 20px;
	background-color: #d57575;
	border-radius: 10px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}


.nav-header {
	display: none;
}


.nav-toggle {
	transition: all 0.3s linear;
}


.links a {
	display: block;

}


ul li {
	display: block
}






.controls {
	position: absolute;
	top: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	transform: translateY(-50%);
}

.controls button {
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
}

.controls button:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

main {
	padding: 2em;
	text-align: center;
}



#slider figure {
	position: relative;
	align-items: center;
	width: 300%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;


}

#slider figure img {
	float: left;
	width: 20%;


}

@keyframes slider {
	0% {
		left: 0%;
	}

	20% {
		left: -45%;
	}

	40% {
		left: -100%;
	}

	60% {
		left: -160%;

	}

	80% {
		left: -215%;
	}

	100% {
		left: -0%;
	}

	overflow: hidden;
}


footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 1em 0;
	margin-top: 2em;

}